.page-header {
  margin-top: 70px;
  padding-bottom: 25px;
  text-align: center;
}

::placeholder {
  color: white;
  font-weight: bold;
}

.card {
  border: none;
  max-width: 540px;
}

.custom-select {
  width: 100%;
  margin-bottom: 20px;
}

.btn-link {
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 5px;
  margin-left: 0px;
}

.text-left {
  text-align: left !important;
}

h6 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.find {
  padding: 15px;
}

.take {
  padding: 15px;
}

.needed-items a {
  font-size: small;
  text-decoration: none;
}

.needed-items {
  padding-bottom: 10px;
}

.bean-icon {
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
}
.card-img-fluid {
  width: 100%;
  margin-left: 10px;
}

.quiz {
  margin-top: 7px;
  margin-bottom: 15px;
  width: 50%;
}

#get {
  margin-top: 7px;
  margin-bottom: 15px;
  margin-left: 80px;
  width: 50%;
}

.recipe {
  width: 100%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.back {
  padding-bottom: 10px;
}

.body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.coffeeSearchInput {
  width: 79.5%;
}

.coffeeLocateButton {
  margin-bottom: 4px;
  margin-left: 10px;
}
